@use "styles/vars";

.container {
  flex: 1;
  background-color: black;
  aspect-ratio: 1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100%;
}
