@use "styles/vars";

.player {
  display: grid;
  height: 100px;
  width: 60px;

  .hull {
    background-color: #202cb9;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }

  .nacelle {
    position: absolute;
    background-color: #202cb9;
    height: 85%;
    width: 25%;
    border-radius: 10px;
    bottom: -10px;
    border: 1px solid rgb(51, 51, 51);
  }

  .cockpit {
    background-color: #1f1f23;
    position: absolute;
    top: 10%;
    width: 50%;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;

    .cockpitLeft {
      position: absolute;
      top: 50%;
      left: -15%;
      height: 100%;
      width: 25%;
      background-color: #1f1f23;
      rotate: -50deg;
      border-radius: 50%;
    }

    .cockpitRight {
      position: absolute;
      right: -15%;
      top: 50%;
      height: 100%;
      width: 25%;
      background-color: #1f1f23;
      rotate: 50deg;
      border-radius: 50%;
    }
  }

  .leftNacelle {
    @extend .nacelle;
    left: -10px;
  }

  .rightNacelle {
    @extend .nacelle;
    right: -10px;
  }

  .weapon {
    position: absolute;
    background-color: #1928d1;
    height: 100px;
    aspect-ratio: 0.25;
    bottom: -5px;
    border-radius: 5px;
  }

  .leftWeapon {
    @extend .weapon;
    left: -1%;
  }

  .rightWeapon {
    @extend .weapon;
    right: -1%;
  }
}
